.dashboard {
    min-height: 100%;
}

.menus {
    background: var(--white) !important;
    padding-bottom: 0 !important;
    border-bottom: none !important;
}

.body {
    padding-top: 8em !important;
}
