.dashboard {
    min-height: 100vh;
    margin: 0 !important;
}

.menus {
    background: var(--white) !important;
    padding-bottom: 0 !important;
    border-bottom: none !important;
}

.body {
    padding-top: 8em !important;
    min-height: calc(100vh - 120px);
}
