.menu {
    background: var(--white-background);
    text-align: center;
    padding-bottom: 20px;
}

.nav-link {
    color: rgb(117, 117, 117);
    font-size: 16px;
    padding: 0 16px;
}

.nav-link.selected {
    color: var(--green-color);
}

.nav-link:hover {
    color: var(--green-color);
}

