:root {
  --body-background-color: #F5F5F5;
  --text-color: #000000;
  --font-family: 'Comfortaa', cursive;
  --default-letter-spacing: 0.01em;
  --default-font-size: 13px;
  --green-color: rgb(67, 176, 42);
  --white-background: #FFFFFF;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  background: #F5F5F5;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--font-family, 'Comfortaa'), 'Roboto', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  letter-spacing: var(--default-letter-spacing, 0.01em);
  font-size: var(--default-font-size);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
